extends layout

block content
  h1= title
  
  ul
    each author in author_list
      li 
        a(href=author.url) #{author.name} 
        |  (#{author.date_of_birth_formatted_2 ? author.date_of_birth_formatted_2 : 'Unknown'} - #{author.date_of_death_formatted_2 ? author.date_of_death_formatted_2 : 'Unknown'})

    else
      li There are no authors.